html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* }

.father { */
  display: grid;
  /* grid-template-columns: [cucumber] 100px [potato] 200px [banana] 50px [brocoli];
  grid-template-rows: [korea] 200px [thailand] 100px [greece];
  row-gap: 10px;
  column-gap: 20px; */

  height: 100vh;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "a a a a"
    "b b b c"
    "d d d d"; */

  grid-template:
    "a a a a" 1fr
    "b b b c" 2fr
    "d d d d" 1fr / 1fr 1fr 1fr 1fr;
}

header {
  background-color: aqua;
  grid-area: a;
}

section {
  background-color: coral;
  grid-area: b;
}

aside {
  background-color: forestgreen;
  grid-area: c;
}

footer {
  background-color: deeppink;
  grid-area: d;
}

/* .child {
  background-color: tomato;
  display: flex;
  color: white;
  font-size: 28px;
  align-items: center;
  justify-content: center;
}

.child:last-child {
  background-color: turquoise; */
/* grid-column-start: 2;
    grid-column-end: -1; */
/* grid-column: potato / brocoli;
}

.child:first-child { */
/* grid-row-start: 1;
    grid-row-end: -1; */
/* grid-row: korea / greece;
} */
